<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZw8X3AzIk03S1ucnVX_X1SDjy6GZUR3I</string>
	<key>GCM_SENDER_ID</key>
	<string>276325636165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eventSpotter</string>
	<key>PROJECT_ID</key>
	<string>ak-events-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ak-events-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276325636165:ios:9b8ca8709b8d6382a26b2c</string>
	<key>DATABASE_URL</key>
	<string>https://ak-events-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>